/* styling the header container */
.header-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    margin-top: 1% auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-top: 50px;
    margin-left: 50px;
    color: #f3f1f1
}

/* styling the logo image in the header container*/
.header-heading {
   width: 50%;
   align-items: left;
   margin: 16px 0;
   font-size: var(--elewa-group-website-font-size-elewa-text);
   font-family: var(--elewa-group-website-dmsans-italic);
   
}
/* styling the navigation menu items in the header container */
 .menu {
    list-style-type: none;
    /* displaying the menu list with no styles and setting them in a flex display */
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 50%;
    margin: 32px 0;
 }

 /* styling the list anchor tags */
 .menu li a{
    color: #f3f2f2;
    text-decoration: none;
    
 }
 .menu li a:hover {
    text-decoration: underline;
 }
