.invest-container img{

    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

/* Create a transparent black overlay */
.overlay {
    position: absolute;
    /* Positioned relative to the nearest positioned ancestor */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with 50% opacity */
}

.hero-content {
    position: absolute;
    color: white;
    margin-top: 350px;
    width: 60%;
    margin-left: 50px;
}
.hero-content h2 {
    font-size: 24px;
}


.hero-content h1 {
    font-size: 72px;
}
.nairobi-vision {
    margin-top: 724px;
}