<div class="social-impact">
    <!-- displaying the background image -->
    <!-- header and hero section -->
    <img src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1679910469/elewa-group-website/hero-Images/pexels-bg-edit_bb4znx.jpg"
        alt="background-image">
        <div class="hero-content" *ngFor="let item of content">
            <!-- Mapping over the array to display hero content -->
            <p>{{item.socialHeroText}}</p>
            <h3>{{item.socialHeroHeader}}</h3>
        </div>
</div>
    <!-- end of header and hero section -->
<br>
    <!-- business statistics section -->
<div class="business-overlay">
<div class="business-section" *ngFor="let item of content">
    <div class="project-numbers">
        <div class="project-items">
        <p>{{item.peopleTrained}}+</p>
        <h4>{{item.trainedText}}</h4>
        </div>
        <div class="project-items">
        <p>{{item.carreersLaunched}}k</p>
        <h4>{{item.careerText}}</h4>
        </div>
        <div class="project-items">
        <p>{{item.projectsFinished}}+</p>
        <h4>{{item.projectText}}</h4>
        </div>
        <div class="project-items">
        <p>{{item.investors}}</p>
        <h4>{{item.investText}}</h4>
        </div>
    </div>
    <div class="business-content">
        <div class="business-image">
            <img src={{item.businessSectionUrl}} alt="Section Image">
        </div>
        <div class="business-text">
            <h2>{{item.businessHeader}}</h2>
            <p>{{item.businessContent}}</p>
        </div>
    </div>
  </div>
</div>
 <!-- end of business statistics section -->
<br>
<!-- objectives section -->
<div class="objectives" *ngFor="let item of content">
    <div class="objectives-content">
        <h1>{{item.objectiveHeader}}</h1>
        <p>{{item.objectiveText}}</p>
    </div>
    <div class="objectives-image">
       <img src={{item.objectiveImageUrl}} alt="Objectives Image">
    </div>
</div>
<!-- end of objectives section -->
<br>
<!-- giving back section -->
<div class="giving-back" *ngFor="let item of content">
    <img src={{item.givingBackImageUrl}} alt="Giving Back">
    <div class="giving-back-content">
        <h1>{{item.givingBackHeader}}</h1>
        <p>{{item.givingBackText}}</p>

    </div>

</div>
<!-- end of giving back section -->
<br>
<!-- Our identity section -->
<div class="identity-overlay">
<div class="identity-section" *ngFor="let item of content">
   <div class="identity-content">
     <h1>{{item.identityHeader}}</h1>
     <p>{{item.identityText}}</p>
   </div> 
   <div class="identity-image">
    <img [src]="item.identityUrl" alt="Identity Image">
   </div>
</div>
</div>
<!-- end of our identity section -->
<br>
<!-- testimonials section -->
<div class="testimonials">
    <div class="testimonial-header">

    </div>
</div>
<br>
<!-- footer -->
<div>
    <app-footer></app-footer>
</div>
